.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #00adb5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 20px;

  }
  
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #07fc65;
    transition: background-color 0.3s ease;
    font-family: 'Arial', sans-serif;
  }
  
  .nav-link:hover {
    background-color: #00ff3c;
  }
  
  @media (max-width: 768px) {
    .Nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-links {
      margin-top: 10px;
    }
  }